*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    z-index: 999;
}

main{
    background-color: #23232e;
}

/* HEADER */

nav {
    display: flex; /*Deixa um do lado do outro*/
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    background: #23232e; /*23232e*/
    height: 15vh; /*Cobre a altura da janela de visualização. 100 cobre tudo*/
 }

 
.nav-list{
    list-style: none;  /* Retira as bolinhas de lista*/
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    padding-top: 18px;
}

.header{
    background: #23232e;
}

.body-arlequina{
    background:#2a2a3a; 

}

/*About*/

#campoAbout{
    display:none;
    position: absolute;
    margin-top: 24rem;
    justify-content: center;
    width: 100%;
    margin-top: 30%;
    height: 53%;
    background-color: #2a2a3a;
    z-index: 999;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn{
    from { opacity: 0 }
  to { opacity: 1 }
}

#personFavorite{
    text-decoration: none;
    color: black;
}

#nomeSite{
    color: rgb(80, 173, 173);
}

#divAbout{
    padding-left: 150px;
    padding-right: 150px;
}
#textAbout{
    color: white;
    font-size: 18px;
    text-align: justify;
}
#tituloAbout{
    color: #fff;
    font-weight: 500;
    padding-top: 5%;
}
#linhaAbout{
    color: white;
}

.nav-list-endereco{
    text-decoration: none !important;
    color: #fff;
}

.logo-menu{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;  /*Controla os espaços em branco do texto*/
    text-decoration: none !important;
    color: #fff;
}

.icons{
    padding: 4%;
    font-size: 25px;
    color: #fff;
    display: none;
    cursor: pointer;
}

.icons-search{
    padding-top: 2px;  /* Deixa a bolinha preta com o search no meio*/
}

.search-btn{
    color:#fff;
    text-decoration: none;
    width: 40px;
    height: 80px;
    padding: 4px;
    border-radius: 50%;
    background:#23232e;
    justify-content: center;
    align-items: center;
}

.form-control{

    float: left;
    font-size: 16px;
    transition: 0.4s;
    height: 22px;
    padding:0;
    color: #fff;

}


/* MAIN - CAROUSEL - HOME */

.carousel-item{
    height: 20rem;
    text-align: center; 
    padding-bottom: 20px;
}

.carousel{
    background:#2a2a3a; 
}

.container2{
    text-align: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px; 
}

/* ARTICLE */

.container-article2{
    background: #23232e;
    color: #fff;

}

.title-article{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.descrition-article{
    text-align: center;
    color: rgb(80, 173, 173);
    padding-bottom: 20px;
}

/*Nav Feed*/

.nav-tabs {  /* Quando não está selecionado*/
    background-color: #2a2a3a;
    padding-top: 10px;
    padding-bottom: 10px;
}

#public{
    margin-left: 150px;
}

.nav-item{
    background-color:transparent;
    margin-right: 50px;
}

#myTabContent{
    background-color: #2a2a3a;
}

.descrition-article{
    text-align: center;
    color: rgb(80, 173, 173);
    padding-bottom: 20px;
}

.body-article{
    padding-bottom: 20px;
}

.container-arlequina{
    width: 1040px;
    margin-left: 140px;
}

.personalidade{
    text-align: justify;
    padding-left: 100px;
    color: #fff;
}

#apperence{
    text-align: justify;
    padding-left: 100px;
    color: #fff;
}

#power{
    text-align: justify;
    padding-left: 150px;
    color: #fff;
}

#equipaments{
    padding-top:20px;
    color: #fff;
}


.figure{
    background: #23232e;
}

.figure-img:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.videoExtra{
    padding-top: 3%;
    display: flex;
    padding-left: 100px;
}

#equipaments{
    padding-left: 70px;
    text-align: justify;
}

.videoPower{
    padding-top: 2%;
    display: flex;
}

#descricaoVideoPower{
    padding-top: 5%;
}

#photo{
    height: 400px;
    width: 450px;
    padding-left: 100px;
}

#btnImg:hover {
	background: #23232e;
}

#btnImg{
    margin-top: 2%;
    margin-left: 200px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 6px 6px;
    background: #0A193C;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#apperanceGroup{
    display: flex;
    padding-top: 3%;
}

#descricao-video{
    padding-left: 20px;
    color: #fff;
}

.aparencia{
    padding-top: 12%;
}

.titleVideo{
    text-align: center;
    padding-top:10%
}

.textVideo{
    text-align: justify;
}

/*Cinema e Livros*/

.link_categoria{
    text-decoration:none !important; 
}

.thumbTitle{
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 25px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 6% 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.swiper-slide{
    padding-left: 12px;
    padding-right: 25px;
    margin-left: 12px;
}

.photoSlide{
    width: 100%;
    height: 30rem;
    left: 0%;
    right: auto;
    top: 0px;
    border-radius: 2%;
}

.photoSlide:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figcaption{
    top: 15rem;
    left: 22rem;
    font-size: 20px;
}

.description-home{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: justify;
}

.section-with-carousel .carousel-controls1 {
    position: absolute;
    top: 445%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 1;
    font-size: 30px;
  }
  
  .carousel-control-left{
      padding-left: 1rem;
      color: #fff;
      background-color: #0A193C;
      border-radius: 100%;
      padding-left: 2px;
      width: 42px;
  }
  
  .carousel-control-right{
      padding-left: 5rem;
      color: #fff;
      background-color: #0A193C;
      border-radius: 100%;
      padding-left: 2px;
      width: 42px;
  }

.section-with-carousel .carousel-controls-cinema {
    position: absolute;
    top: 180%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 1;
    font-size: 30px;
  }

  .section-with-carousel .carousel-controls-livros {
    position: absolute;
    top: 250%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    z-index: 1;
    font-size: 30px;
  }



/*Footer*/

.container5{
    background: #23232e;
    color: #fff;
    font-size: 12px;
}


.footer-arlequina{
    padding-top: 2%;
    background: #2a2a3a;
}

.container-arlequina{
    background: #2a2a3a;
    color: #fff;
    font-size: 12px;
}

.footer-bottom{
    text-align: center;  /* Faz ficar no centro */
    line-height: 50px; /* Faz ficar no centro */
    background-color:  #fff;
}

.redes{   /* Para mudar os icons de um agrupamento vertical para horizontal  */
    display: flex;
    margin-left: 60px;
}

.bi{  /* Permite um espaçamento entre os ícones  */
    padding: 5px;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px; /* Controla os espaços em branco do texto*/
    padding-top: 40px;
    text-decoration: none; 
    color: #fff; 
    margin-right: 200px;
    margin-left: 100px;
}

.logo:hover{
    opacity: 0.7;
    cursor: pointer;
}

.logoImg{
   width: 220px;
   height: 150px;
   padding-left: 40px;
}

.logoFooterImg{
    width: 300px;
    height: 250px;
    padding-left: 40px;
 }

.logoImg:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

dl{
    text-align: center;
}

.title-footer{
    line-height: 50px;
    text-align: center;
}

#footer-Text{
    padding-top:4%;
}

